### START SERVICE BOT MANAGED SECTION ###
### END SERVICE BOT MANAGED SECTION ###

try-import %workspace%/.bazel/bazelrc/ci.bazelrc
import %workspace%/.bazel/bazelrc/common.bazelrc
import %workspace%/.bazel/bazelrc/java.bazelrc

### YOUR PROJECT SPECIFIC SETTINGS GO HERE ###
# This tells Bazel how to interact with the version control system
# Enable this with --config=release
build:release -c opt --stamp --workspace_status_command="tools/stamp.sh"
common:prod --define=publishToProdEcr=true
common:release --remote_download_regex='.*_digests.txt'
common --enable_bzlmod=true

# BEGIN __INCLUDE_PROTO__
# Enable source code info in proto descriptor sets for buf linting
# https://github.com/bazelbuild/rules_proto/issues/56
build --experimental_proto_descriptor_sets_include_source_info
test --experimental_proto_descriptor_sets_include_source_info
# END __INCLUDE_PROTO__

common --define maven_version=0.0.0

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# we don't want to initiate login flow to our registry (like docker login)
# via rules_oci
# This was causing multiple tabs to open for people simultaneously running bazel builds.
# Force people to login via ecr-login first.
common --repo_env=DOCKER_ECR_CACHE_ONLY=1

# Override Java versions
build --java_language_version=21
build --java_runtime_version=remotejdk_21
build --tool_java_language_version=21
build --tool_java_runtime_version=remotejdk_21

# bazel remote cache
common --remote_cache=https://bazel-external.dp.confluent.io:443
common --macos_minimum_os=13.5.2
common --host_macos_minimum_os=13.5.2

# macOS CI configuration with Docker/Testcontainers support
test:macos_ci --test_env=DOCKER_HOST
test:macos_ci --test_env=TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE

### YOUR USER SPECIFIC SETTINGS GO HERE ###
try-import %workspace%/user.bazelrc

### START SERVICE BOT MANAGED FOOTER ###
try-import ".bazelrc.release-version"
### END SERVICE BOT MANAGED FOOTER ###
